# Copyright © 2018-2026 ranjanravi.com. All rights reserved.
# Flask API + kundali/auspicious/navatara (Dockerfile.flask, Render).
flask>=3.0.0
pyswisseph>=2.10.0
tzdata
google-api-python-client>=2.100.0
google-auth>=2.23.0
google-auth-httplib2>=0.2.0
